extends ../layout

block content
	.edituser
		h2 Edit #{user.username}
		form(method='POST' action=`/users/${user.id}`)
			input(type='text' placeholder='Username' name='un' value=`${user.username}`)
			br
			input(type='text' placeholder='Email' name='em' value=`${user.email}`)
			br
			button(type='submit') Submit
		br
		br
		form(method='POST' action=`users/${user.id}/delete`)
				button(type='submit') Delete account