extends ../layout

block content
	.user
		h2= user.username
		h3 Posts:
		each post in posts
			.indexpost
				h3
					a(href=`/posts/${post.id}`)= post.title
				p.name Submitted by 
					a(href=`/users/${post.user_id}`) #{post.username}
				p.topic= post.topic