extends ../layout

block content
	.editpost
		h2 Edit post
		form(method='POST' action=`/posts/${post.id}`)
			input(type='text' placeholder='Title' name='title' value=`${post.title}`)
			br
			textarea(cols='60' rows='7' placeholder='Body' name='body' value=`${post.body}`)= post.body
			br
			select(name='topic')
				each topic in topics
					if topic.id === post.topic_id
						option(value=`${topic.id}` selected)= topic.topic
					else
						option(value=`${topic.id}`)= topic.topic
			br
			button(type='submit') Submit

	
